html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Long Tweeetr')
    title Error - Long Tweeetr | Kishlaya Jaiswal
    link(rel='stylesheet', href='./stylesheets/style.css', type='text/css')
  body
    .wrapper
      .container
        h1.brand Long Tweeetr
        .block
          h2 Error Occured!
          p Oops. Something went wrong :(
          p #{error}
        a.button(href='/') Start over
    .clearfix
    .footer
      p © 2017
      p
        | By 
        a(href='https://kishlaya.github.io/', target='_blank', style='font-weight: bold;') Kishlaya Jaiswal
