html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Long Tweeetr')
    title Long Tweeetr | Kishlaya Jaiswal
    link(rel='stylesheet', href='./stylesheets/style.css', type='text/css')
  body
    .wrapper
      .container
        h1.brand Long Tweeetr
        .block
          p
            | We help you post long tweets directly. Your tweet is now no bounded by 140 charcters. Make it as long as you want and show your followers that you care about them. Sign In now using your Twitter account and start tweeting immediately.
        form(action='sign-in')
          input.button(type='submit', value='Sign In')
      .content
        h1 About
        .block
          p
            | Twitter won't allow tweets which are more than 140 characters long. So to work out our way, what we do is that we split the tweets into several parts, each 140 characters long. Now, each part is posted on your behalf, with an additional numbering at the beginning, indicating the part number.
    .clearfix
    .footer
      p © 2017
      p
        | By 
        a(href='https://kishlaya.github.io/', target='_blank', style='font-weight: bold;') Kishlaya Jaiswal
